.session-controls {
    position: fixed;
    top: 20px;
    right: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Center buttons under timer */
    gap: 8px;
    z-index: 1000;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.session-controls-buttons {
    display: flex;
    width: 100%;
}

.control-button {
    flex: 1;
    padding: 6px 12px;
    font-size: 14px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.2s;
    background-color: transparent;
    box-shadow: none;
    outline: none;
    color: var(--color-primary-dark);
}

.control-button:focus {
    outline: none;
}

.control-button:first-child {
    border-radius: 0 0 0 8px;
}

.control-button:last-child {
    border-radius: 0 0 8px 0;
}

.session-controls .session-quit-button:hover {
    background-color: var(--color-red-hover);
    border: none;
    transform: none;
    box-shadow: none;
    color: var(--color-white);
}

.session-controls .session-restart-button:hover {
    background-color: var(--color-blue-hover);
    border: none;
    transform: none;
    box-shadow: none;
    color: var(--color-white);
}