.keyboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5vh;
    background-color: #354560;
    padding: 15px 20px 30px;
    border-radius: 10px;
}

.keyboard-row {
    display: flex;
    justify-content: center;
}