.keyboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5vh;
    border: 3px solid var(--color-primary-dark);
    box-shadow: var(--shadow-dark);
    padding: 20px 20px 30px;
    border-radius: 10px;
}

.keyboard-row {
    display: flex;
    justify-content: center;
    margin: 2px 0;
}