.stat {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.75rem 0;
    border-bottom: 1px solid #2e86ab;
}

.stat:last-child {
    border-bottom: none;
}

.stat .label {
    color: #213547;
    font-weight: 500;
}

.stat .value {
    color: #213547;
    font-weight: 600;
    font-family: monospace;
    font-size: 1.1em;
}

.stat .value.default {
    color: #213547;
}

.stat .value.poor {
    color: #c1292e;
}

.stat .value.fair {
    color: #fca311;
}

.stat .value.good {
    color: #79B473;
}

.stat .value.excellent {
    color: #2e86ab;
}

.stat .value.legendary {
    color: #B744B8;
}