.stat {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.75rem 0;
    border-bottom: 1px solid #e0e0e0;
}

.stat:last-child {
    border-bottom: none;
}

.stat .label {
    color: #666;
    font-weight: 500;
}

.stat .value {
    color: #213547;
    font-weight: 600;
    font-family: monospace;
    font-size: 1.1em;
}

.stat .value.default {
    color: #213547;
}

.stat .value.poor {
    color: red;
}

.stat .value.fair {
    color: orange;
}

.stat .value.good {
    color: green;
}

.stat .value.excellent {
    color: blue;
}

.stat .value.legendary {
    color: purple;
}