.session-review {
    background-color: var(--color-white);
    border: 3px solid var(--color-primary-dark);
    border-radius: 12px;
    padding: 2rem;
    max-width: 600px;
    margin: 2rem auto;
    box-shadow: var(--shadow-large);
    color: var(--color-primary-dark);
}

.session-review h1 {
    margin-top: 0;
    margin-bottom: 1.5rem;
    color: var(--color-primary-yellow);
    text-align: center;
}

.session-review h2 {
    text-align: center;
    margin: 5px auto;
}

.session-review .button-container {
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
}

.restart-button {
    background-color: var(--color-white);
    border: 3px solid var(--color-easy);
    color: var(--color-easy);
}

.new-challenge-button {
    background-color: var(--color-white);
    border: 3px solid var(--color-primary-blue);
    color: var(--color-primary-blue);
}

.restart-button:hover {
    background-color: var(--color-easy);
    border: 3px solid var(--color-easy);
    color: var(--color-white);
}

.new-challenge-button:hover {
    background-color: var(--color-primary-blue);
    border: 3px solid var(--color-primary-blue);
    color: var(--color-white);
}