/* src/components/Navbar.css */

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 40px;
    padding: 16px 32px;
    border-bottom: 3px solid var(--color-primary-red);
    background-color: var(--off-white);
    box-shadow: var(--shadow-red-glow);
    z-index: 1000;
}

.navbar-title {
    font-size: 1.5rem;
    text-decoration: none;
    color: var(--color-primary-dark);
    display: flex;
    align-items: center;
}

.navbar-title-img {
    max-height: 45px;
}

.navbar-right {
    display: flex;
    gap: 30px;
}

.navbar-link {
    font-size: 1rem;
    text-decoration: none;
    color: var(--color-primary-dark);
    transition: color 0.2s ease-in-out;
}

.navbar-link:hover,
.navbar-link:focus,
.navbar-title:hover,
.navbar-title:focus {
    color: var(--color-primary-blue);
}