/* src/components/Navbar.css */

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 20px;
    padding: 16px 32px;
    border-bottom: 3px solid #f24236;
    background: linear-gradient(to bottom, #fca311 0%, #fca311 85%, #fc8f11 100%);
    box-shadow: 0 2px 16px rgba(242, 66, 54, .3),
        0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.navbar-title {
    font-size: 1.5rem;
    font-weight: 700;
    text-decoration: none;
    color: #213547;
}

.navbar-right {
    display: flex;
    gap: 24px;
}

.navbar-link {
    font-size: 1rem;
    text-decoration: none;
    color: #213547;
    transition: color 0.2s ease-in-out;
}

.navbar-link:hover,
.navbar-link:focus,
.navbar-title:hover,
.navbar-title:focus {
    color: #2e86ab;
}