/* src/components/Navbar.css */

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 20px;

    padding: 16px 32px;
    border-bottom: 5px solid #f24236;
    background-color: #fca311;

    z-index: 1000;
}

.navbar-title {
    font-size: 1.5rem;
    font-weight: 700;
    text-decoration: none;
    color: #111827;
}

.navbar-right {
    display: flex;
    gap: 24px;
}

.navbar-link {
    font-size: 1rem;
    text-decoration: none;
    color: #374151;
}

.navbar-link:hover {
    color: #111827;
}