.key {
    min-width: 55px;
    max-height: 65px;
    padding: 0 12px;
    margin: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* TODO: Add key press animation */

#space-bar {
    min-width: 250px;
}