.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 1rem;
    background-color: #f5f5f5;
    justify-content: space-between;
    text-align: left;
    font-size: 0.8rem;

}

.footer p {
    margin: 0 1rem;
}