.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: .5rem;
    border-top: 5px solid var(--color-primary-red);
    background: linear-gradient(to top, var(--color-primary-yellow) 0%, var(--color-primary-yellow) 85%, var(--color-warm-orange) 100%);
    box-shadow: var(--shadow-red-glow);
    color: var(--color-primary-blue);
    justify-content: space-between;
    text-align: left;
    font-size: 0.8rem;
}

.footer p {
    margin: 0 1rem;
    /* should be on same line */
    display: inline;
}