.challenge-text {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 4px;
    justify-content: center;
    margin: 5vh auto 0 auto;
    border: 1px solid #2e86ab;
    border-radius: 5px;
    padding: 15px 10px;
}

.challenge-token.default {
    color: darkgray;
}

.challenge-token.entered {
    color: #2e86ab;
}

.challenge-token.enteredIncorrect {
    color: #f24236;
}

.challenge-token.cursor {
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 3px;
}