.challenge-text {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 4px;
    justify-content: center;
    margin: 5vh auto 0 auto;
}

.challenge-token.default {
    color: darkgray;
}

.challenge-token.entered {
    color: lightgreen;
}

.challenge-token.enteredIncorrect {
    color: red;
}

.challenge-token.cursor {
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 3px;
}