body {
  background-color: var(--color-off-white);
  color: var(--color-primary-blue);
  font-family: "Inconsolata", monospace;
}

#root {
  margin: 0 auto;
  padding: 2rem;
}

.app-content {
  padding-top: 70px;
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}