/* src/fonts.css */
@font-face {
    font-family: 'Inconsolata';
    src: url('./fonts/inconsolata-200.woff2') format('woff2'),
        url('./fonts/inconsolata-200.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}